{{#if sliderEnabled}}
  <div id="slides">
    <div class="slides-container">
      {{#if (xif project '===' 'eConsole')}}
        <img src="images/e-console/login.png">
        <img src="images/e-console/stock.png">
        <img src="images/e-console/stock-info.png">
        <img src="images/e-console/orders-grid.png">
        <img src="images/e-console/order-create.png">
        <img src="images/e-console/order-view.png">
      {{/if}}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-chevron-right"></i></a>
      <a href="#" class="prev"><i class="icon-chevron-right"></i></a>
    </nav>
  </div>
{{/if}}