<div class="container">
  <ul class="no-bullets no-padding">
    <div class="col-md-4 navigation">
        {{#link-to 'about.index' tagName="li"}}{{#link-to 'about.index'}}Home{{/link-to}}{{/link-to}}
        {{#link-to 'about.education' tagName="li"}}{{#link-to 'about.education'}}Education{{/link-to}}{{/link-to}}
        {{#link-to 'about.languages' tagName="li"}}{{#link-to 'about.languages'}}Languages{{/link-to}}{{/link-to}}
        {{#link-to 'about.experience' tagName="li"}}{{#link-to 'about.experience'}}Professional Experience{{/link-to}}{{/link-to}}
    </div>
    <div class="col-md-4 navigation">
        {{#link-to 'about.portfolio' tagName="li"}}{{#link-to 'about.portfolio'}}Portfolio{{/link-to}}{{/link-to}}
        {{#link-to 'about.technologies' tagName="li"}}{{#link-to 'about.technologies'}}Experience with Technologies{{/link-to}}{{/link-to}}
        {{#link-to 'about.services' tagName="li"}}{{#link-to 'about.services'}}Services{{/link-to}}{{/link-to}}
        {{#link-to 'about.influencers' tagName="li"}}{{#link-to 'about.influencers'}}Influencers{{/link-to}}{{/link-to}}
    </div>
    <div class="col-md-4 navigation">
        {{#link-to 'about.hobbies' tagName="li"}}{{#link-to 'about.hobbies'}}Hobbies and Interests{{/link-to}}{{/link-to}}
        {{#link-to 'about.contacts' tagName="li"}}{{#link-to 'about.contacts'}}Contacts{{/link-to}}{{/link-to}}
        {{#link-to 'about.faqs' tagName="li"}}{{#link-to 'about.faqs'}}FAQs{{/link-to}}{{/link-to}}
        {{#link-to 'about.lastCommit' tagName="li"}}{{#link-to 'about.lastCommit'}}Last Commit{{/link-to}}{{/link-to}}
    </div>
  </ul>
</div>
