<div class="col-md-4 next">
  <div class="ebisa">
    {{#link-to route}}
      <div class="cube">
        <div><i class="fa fa-{{icon}}"></i></div>
      </div>
    {{/link-to}}
    <p>{{title}}</p>
  </div>
</div>