<div class="row route-header">
  <div class="col-md-5">
    <i class="fa fa-{{icon}}"></i>
    <h1 class="color-black">{{title}}</h1>
  </div>
  <div class="col-md-7">
    <img src={{imgURL}}>
  </div>
</div>