<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <p>{{{default}}}</p>
    </div>
    <div id="collapseOne" class="accordion-body collapse out">
      <div class="accordion-inner">
        <p>{{{left}}}</p>
      </div>
    </div>
    <button class="btn pull-right btn-toggle" data-toggle="collapse" href="#collapseOne" {{action "toggle"}}>{{button}}</button>
  </div>
</div>