<nav class="navbar navbar-default">
  <div class="navbar-overlay">
    <div class="slogan">
      <div class="col-md-12">
        <p>I don't have dreams, I have goals. That's why I don't get lucky. I make my own luck.</p>
      </div>
    </div>
    <button class="get-started" {{ action "getStarted" }}>GET STARTED</button>
  </div>
</nav>