body {
  padding-bottom: 70px;
}

.app-container {
  max-width: 960px;
  margin: 0 auto;
}

.description {
  border-left: 1px solid #dedede;
}

.markdown-body {
  padding: 5px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.navbar {
  min-height: 50px;
  border-top: 1px solid #dedede;
}

footer {
  background: #fff;
  padding: 15px;
  border-top: 1px solid #dedede;
  margin-top: 20px;
}

#back-to-top {
  position: fixed;
  bottom: 55px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: rgb(238, 238, 238);
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 1;
}

#content {
  height: 2000px;
}

.sticky {
  position: fixed;
  top: 20px;
}

.liquid-container {
  position: relative;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.no-bullets {
  list-style-type: none;
}

.no-padding {
  padding: 0;
}

#gh-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}