/* http://www.zastavki.com/eng/Nature/Mountains/wallpaper-30258.htm */
body {
  margin: 0;
  padding: 0;
  background: url('../images/bg-mountain-edited.jpg') no-repeat center center fixed;
  background-color: transparent;
  background-size: 100% 100%, 100% 100%;
  color: rgba(197, 203, 206, 0.5);
}

body, p, span, div, ul, li {
  color: #FFF7E2;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  color: rgb(180, 157, 96);
  text-shadow: 0 0 17px #ccc;
}

a {
  color: #FFF7E2;
  text-decoration: underline;
}

.description {
  margin: 50px auto;
}

.markdown-body {
  padding: 5px;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.navbar {
  min-height: 50px;
  border-top: 1px solid #dedede;
}

footer {
  background: #CCCC99;
  padding: 15px;
  border-top: 1px solid #dedede;
  margin-top: 20px;
}

#back-to-top {
  position: fixed;
  bottom: 58px;
  right: 40px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: rgb(238, 238, 238);
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 1;
}

#content {
  height: 2000px;
}

.liquid-container {
  position: relative;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.no-bullets {
  list-style-type: none;
}

.no-padding {
  padding: 0;
}

#gh-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 2000;
}

.navigation > li:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.navigation > li {
  margin: 3px;
  text-align: center;
  padding: 34px;
  height: 100px;
  font-size: 18px;
  cursor: pointer;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #011529;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navigation > li > a {
  color: rgb(180, 157, 96);
}

.navigation > li a {
  text-decoration: none;
}

.navigation > li:hover a, .navigation > .active a {
  color: #003366;
  text-decoration: none;
}

.navigation > .active {
  border: 1px solid #dedede;
  background: #fff;
}

.navigation > li:before {
  border: 1px solid #dedede;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(180, 157, 96);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.menu {
  height: 0px;
  width: 100%;
  background-color: rgba(197, 203, 206, 0.5);
}

.hide-menu {
  position: relative;
  z-index: 1;
  margin: -35px auto;
  display: none;
  border-bottom: 35px solid rgb(3, 14, 27);
}

.show-menu {
  position: fixed;
  left: 50%;
  margin-left: -50px;
  border-top: 35px solid rgba(197, 203, 206, 0.5);
}

.arrows-with-bg {
  background-color: rgba(197, 203, 206, 0.5);
}

.show-menu, .hide-menu {
  color: white;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  cursor: pointer;
}

.show-menu > div {
  margin-top: -30px;
  margin-left: -5px;
}

.hide-menu > div {
  margin-left: -5px;
  padding-top: 10px;
}

.menu-container {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.icon-bar {
  background: white;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 3px 0 0 -5px;
}

.bg-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .8;
}

.bg-effect {
  box-shadow: 0 0 30px #ccc;
  background: rgba(43, 42, 42, .9);
  padding-left: 15px;
}

.box {
  padding: 20px;
}

.box > h3 {
  margin-top: 0px;
}

.box > p, .box > ul {
  margin-left: 10px;
}

.box > p {
  display: inline-block;
  margin-top: 10px;
}

.box > p > a {
  padding: 5px;
  background: #B9B9B9;
  color: #000;
  text-decoration: none;
}

.box > p > a:hover {
  background: #151419;
  color: #fff;
}

.tools > .box {
  min-height: 200px;
}

.p50 {
  padding: 50px;
}

.hexagon {
  text-align: center;
  position: relative;
  height: 130px;
  width: 178px;
  padding: 15px;
  background: rgba(43, 42, 42, .9);
  margin: 50px auto;
}

.hexagon:after {
  position: absolute;
  content: '';
  top: 130px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 89.3px solid transparent;
  border-right: 89.3px solid transparent;
  border-top: 49px solid rgba(43, 42, 42, .9);
  z-index: -1;
}

.hexagon:before {
  position: absolute;
  content: '';
  top: -49px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 89.3px solid transparent;
  border-right: 89.3px solid transparent;
  border-bottom: 49px solid rgba(43, 42, 42, .9);
  z-index: -1;
}

.combined-box {
  min-height: 425px;
  line-height: 425px;
  text-align: center;
}

.combined-box > h2 {
  vertical-align: middle;
  display: inline-block;
}

.hexagon:hover,  .bg-effect:hover, .combined-box:hover {
  background: rgba(43, 42, 42, 1);
}

.hexagon:hover:before {
  border-bottom: 50px solid rgba(43, 42, 42, 1);
}

.hexagon:hover:after {
  border-top: 50px solid rgba(43, 42, 42, 1);
}

.combined-box:hover .row {
  display: block;
}

.combined-box:hover h2 {
  display: none;
}

.combined-box .row {
  display: none;
}

.combined-box > .row > .row > .col-md-12 {
  padding: 0 50px;
  display: block;
  position: relative;
  line-height: 30px;
  z-index: 1;
}

.combined-box > .row > .row:nth-child(1) > .col-md-12 {
  padding: 25px 50px 15px 50px;
}

.combined-box > .row > .col-md-12:nth-child(1) {
  width: 100%;
  top: 50px;
}

.combined-box > .row > .col-md-12:nth-child(2) {
  bottom: 50px;
}

a:hover {
  color: #fff;
}

.transiting-line {
  -webkit-animation: animate-transiting-line 3s infinite;
  -moz-animation: animate-transiting-line 3s infinite;
  -o-animation: animate-transiting-line 3s infinite;
  animation: animate-transiting-line 3s infinite;
  border-top: 3px solid rgb(180, 157, 96);
  display: block;
  position: relative;
  z-index: 9;
  height: 3px;
  margin-top: -20px;
  margin-bottom: 20px;
}

@keyframes animate-transiting-line {
    0% {
      width: 0%;
    }
    30% {
      left: 0%;
      width: 90%;
    }
    100% {
      left: 100%;
      width: 10%;
    }
}

@-webkit-keyframes animate-transiting-line {
    0% {
      width: 0%;
    }
    30% {
      left: 0%;
      width: 90%;
    }
    100% {
      left: 90%;
      width: 10%;
    }
}
@-moz-keyframes animate-transiting-line {
    0% {
      width: 0%;
    }
    30% {
      left: 0%;
      width: 90%;
    }
    100% {
      left: 90%;
      width: 100%;
    }
}
@-o-keyframes animate-transiting-line {
    0% {
      width: 0%;
    }
    30% {
      left: 0%;
      width: 90%;
    }
    100% {
      left: 90%;
      width: 10%;
    }
}


.contact-btn {
  -webkit-animation-name: contact-btn;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: 100px 0;
  background: rgba(70, 66, 66, .1);
  border-radius: 0;
}

.contact-btn:hover {
  color: #fff;
  background: rgba(70, 66, 66, 1);
}

@-webkit-keyframes contact-btn {
  from {
    background: rgba(70, 66, 66, .1);
  }
  to {
    background: rgba(70, 66, 66, 1);
  }
}

#name-container > div > p {
  float: right;
  margin-right: 30px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

#name-container {
  min-height: 210px;
  padding: 5px;
  background: rgba(70, 66, 66, .6);
}

#name-container:hover {
  background: rgba(70, 66, 66, .9);
}

.question {
  border-bottom: 1px solid #dedede;
  font-style: italic;
}

.services > div > p {
  font-size: 18px;
}

#slides {
  position: fixed !important;
  height: 100% !important;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 99;
  background: #000;
}

.slides-container img {
  height: 600px !important;
  width: 1200px !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -600px;
  margin-top: -300px;
}

.slides-pagination a {
  border: 2px solid #fff;
}

.slides-pagination a.current {
  background: #fff;
}

.slides-pagination {
  bottom: 10px;
}

/* LETTERING COMPONENT START */
.cs-text {
  width: 100%;
  margin: 30px auto 30px;
}

/* Micro clearfix hack by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
.cs-text:before,
.cs-text:after {
  content: " ";
  display: table;
}

.cs-text:after {
  clear: both;
}

.ml10 {
  margin-left: 10px;
}
/* end clearfix hack */

.cs-text > span {
  cursor: default;
  display: block;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.cs-text > span {
  float: left;
  width: 65px;
  height: 65px;
  margin: 10px;
}

.cs-text > span > span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cs-text > span > span:last-child{
  font-size: 40px;
  line-height: 70px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Michroma', sans-serif;
   -webkit-font-smoothing: antialiased;
  text-shadow:
    1px 1px 1px rgba(0,0,0,0.1),
    -1px -1px 1px rgba(0,0,0,0.1),
    5px 5px 0 rgb(180, 157, 96),
    -5px -5px 0 rgba(70, 66, 66, .8);
  background: -moz-linear-gradient(45deg, rgba(249,249,249,0.08) 0%, rgba(234,234,234,0.5) 49%, rgba(255,255,255,0.51) 50%, rgba(244,244,244,0.94) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(249,249,249,0.08)), color-stop(49%,rgba(234,234,234,0.5)), color-stop(50%,rgba(255,255,255,0.51)), color-stop(100%,rgba(244,244,244,0.94)));
  background: -webkit-linear-gradient(45deg, rgba(249,249,249,0.08) 0%,rgba(234,234,234,0.5) 49%,rgba(255,255,255,0.51) 50%,rgba(244,244,244,0.94) 100%);
  background: -o-linear-gradient(45deg, rgba(249,249,249,0.08) 0%,rgba(234,234,234,0.5) 49%,rgba(255,255,255,0.51) 50%,rgba(244,244,244,0.94) 100%);
  background: -ms-linear-gradient(45deg, rgba(249,249,249,0.08) 0%,rgba(234,234,234,0.5) 49%,rgba(255,255,255,0.51) 50%,rgba(244,244,244,0.94) 100%);
  background: linear-gradient(45deg, rgba(249,249,249,0.08) 0%,rgba(234,234,234,0.5) 49%,rgba(255,255,255,0.51) 50%,rgba(244,244,244,0.94) 100%);
}

.cs-text > span:nth-child(odd) span:first-child {
  -webkit-transform: rotate(5deg) skewY(-14deg);
  -moz-transform: rotate(5deg) skewY(-14deg);
  -o-transform: rotate(5deg) skewY(-14deg);
  -ms-transform: rotate(5deg) skewY(-14deg);
  transform: rotate(5deg) skewY(-14deg);
}

.cs-text > span:nth-child(even) span:first-child {
  -webkit-transform: rotate(-35deg) skewY(-5deg);
  -moz-transform: rotate(-35deg) skewY(-5deg);
  -o-transform: rotate(-35deg) skewY(-5deg);
  -ms-transform: rotate(-35deg) skewY(-5deg);
  transform: rotate(-35deg) skewY(-5deg);
}

.cs-text > span:nth-child(odd) span:nth-child(2) {
  -webkit-transform: rotate(45deg) skewY(-10deg);
  -moz-transform: rotate(45deg) skewY(-10deg);
  -o-transform: rotate(45deg) skewY(-10deg);
  -ms-transform: rotate(45deg) skewY(-10deg);
  transform: rotate(45deg) skewY(-10deg);
}

.cs-text > span:nth-child(even) span:nth-child(2) {
  -webkit-transform: rotate(27deg) skewY(-12deg);
  -moz-transform: rotate(27deg) skewY(-12deg);
  -o-transform: rotate(27deg) skewY(-12deg);
  -ms-transform: rotate(27deg) skewY(-12deg);
  transform: rotate(27deg) skewY(-12deg);
}

.cs-text > span:nth-child(odd) span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cs-text > span:nth-child(even) span:nth-child(3) {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.cs-text > span:hover span {
  -webkit-transform: rotate(0deg) skewY(0deg) !important;
  -moz-transform: rotate(0deg) skewY(0deg) !important;
  -o-transform: rotate(0deg) skewY(0deg) !important;
  -ms-transform: rotate(0deg) skewY(0deg) !important;
  transform: rotate(0deg) skewY(0deg) !important;
  text-shadow:
    1px 1px 0 rgba(216,65,40,0.1),
    -1px -1px 0 rgba(37,166,164,0.1);
}
/* LETTERING COMPONENT END */

.animated-txt {
  float: left;
}

.pointer {
  cursor: pointer;
}

.justify {
  text-align: justify;
}

.images-btn {
  width: 100%;
  height: 60px;
  font-size:18px;
  border-radius: 0;
  background: rgba(43, 39, 44, 0.9);
}

.images-btn:hover {
  color: #fff;
  border: 1px solid rgb(180, 157, 96);
}

.bg-effect:hover .images-btn {
  border: 1px solid rgb(180, 157, 96);
}

/* COOKIES START */
#cookie-bar {
  z-index: 101;
  background: rgba(86,86,86,0.95);
  height: auto;
  font-weight: 700;
  line-height: 24px;
  color: #eeeeee;
  text-align: center;
  padding: 10px 0;
  display: none;
}
#cookie-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#cookie-bar.fixed.bottom {
  bottom: 0;
  top: auto;
}
#cookie-bar p {
  margin: 0;
  padding: 0;
}
#cookie-bar button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #7DAF3B;
  padding: 0.5em 0.75em;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
  -o-transition: background 0.5s ease-in;
  -webkit-transition: background 0.25s ease-in;
  -moz-transition: background 0.25s ease-in;
  margin-left: 8px;
  border: none;
}
#cookie-bar .cb-enable {
  background: #007700;
}
#cookie-bar .cb-enable:hover {
  background: #009900;
}

.bg-effect > h2 {
  margin-top: 0px;
  text-align: center;
}
/* COOKIES END */