body {
  margin: 0;
  padding: 0;
  background: url('../images/bg.jpg') repeat;
}

a, p, body, div, span, h1, h2, h3, h4, h5 {
  color: #fff;
}

a {
  font-style: italic;
  border-bottom: 1px solid $light-dark-grey;
}

a:hover {
  color: $white;
  text-decoration: none;
  border-bottom: $border;
}

.liquid-container {
  position: relative;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.fa {
  color: $gold;
  width: 100%;
  font-size: 78px;
}

.color-black {
  color: $black;
}

.mt25 {
  margin-top: 25px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mt150 {
  margin-top: 150px;
}


.p0 {
  padding: 0px;
}

.p50 {
  padding: 50px;
}

.bg-shark {
  background: $shark;
}

.bg-grey {
  background: $custom-grey;
}
