// @import '../variables/colors';
// @import '../variables/borders';
// @import '../variables/media-queries';
// @import '../extends/absolute-top';
// @import '../mixins/transforms';
// @import '../mixins/transitions';

.next {
  pointer-events: none;
  margin-bottom: 70px;
  @media (max-width: $mobile) {
    margin-top: 50px;
  }
  >  div {
    p {
      position: absolute;
      right: 50px;
      bottom: 35px;
      padding: 5px;
      border-bottom: $border;
      opacity: 0;
      pointer-events: auto;
      @include transition-property(opacity, .45s, ease-in);
    }
    .cube {
      pointer-events: auto;
      cursor: pointer;
      margin: 20px auto;
      width: 100px;
      height: 100px;
      border: $border;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      @include rotate(45deg);
      > div {
        margin: 25px auto;
        width: 50px;
        height: 50px;
        border-top: $border;
        border-right: $border;
        > i {
          @include rotate(-45deg);
          font-size: 30px;
          margin: 10px 0 0 -5px;
          color: $white;
        }
      }
    }
    > a {
      cursor: default;
    }
  }
}

.arrow-left {
  > div >.next > div > p {
    bottom: 85px;
  }
}

.arrow-left:before {
  content: " ";
  border-style: solid;
  margin-left: -343px;
  margin-top: -50px;
  border-width: 0px 0px 291px 294px;
  border-color: transparent transparent $shark transparent;
  position: absolute;
}

.arrow-right:after {
  content: " ";
  border-style: solid;
  border-width: 291px 0 0 311px;
  border-color: transparent transparent transparent #252b2f;
  margin-left: 515px;
  margin-top: -240px;
  position: absolute;
}

.next > div:hover p {
  opacity: 1;
}

.bottom-contact {
  font-size: 20px;
  color: $shark;
  a {
    color: $shark;
  }
}

.next-half-filled {
  > .text-right {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  > .pull-right {
    @media (max-width: $mobile) {
      float: none !important;
    }
  }
}

.cube:hover div {
  border-top: 1px solid $black;
  border-right: 1px solid $black;
}

@-webkit-keyframes cube {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes cube {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}


.cube:before {
  @extend %absolute-top;
  content: '';
  border: $white solid 2px;
  right: 0;
  bottom: 0;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.cube:hover:before, .cube:focus:before, .cube:active:before {
  animation-name: cube;
}
