// @import '../variables/colors';
// @import '../extends/text-center';

.route-header {
  @extend %text-center;
  border-bottom: 5px solid $dark-blue;
  overflow: hidden;
  height: 315px;
  @media (max-width: $mobile) {
    height: 100%;
  }
  > .col-md-5 {
    padding: 80px 70px 70px 70px;
    @media (max-width: $mobile) {
      padding: 40px 30px 30px 30px;
    }
    > h1 {
      font-weight: 600;
      letter-spacing: 5px;
      @media (max-width: $mobile) {
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
    > h1:after {
      position: relative;
      display: block;
      content: "";
      width: 0%;
      height: 2px;
      background: $dark-blue;
    }
    > i {
      width: 100%;
      font-size: 78px;
    }
  }
  > .col-md-7 > img {
    width: 100%;
    @media (min-width: 990px) {
      height: 310px;
    }
  }
  &:hover {
    color: $dark-blue;
    border-bottom: 10px solid $dark-blue;
    transition: border 0.15s ease-in;
  }
  &:hover .col-md-5 > h1:after {
    width: 100%;
    transition: width 0.15s ease-in;
  }
}