// @import '../variables/colors';
// @import '../extends/text-center';

.slogan {
  color: $white;
  padding: 92.5px;
  > div {
    @extend %text-center;
    > p {
      font-size: 25px;
      font-style: italic;
    }
  }
}