// @import '../variables/colors';
// @import '../extends/text-center';

.slogan {
  color: $white;
  > div {
    @extend %text-center;
    position: absolute;
    font-weight: 600;
    top: 60%;
    @media (max-width: $mobile) {
      top: 30%;
    }
    > p {
      letter-spacing: 1px;
      font-size: 25px;
      font-style: italic;
    }
  }
}