// @import '../variables/colors';
// @import '../extends/text-center';

.slogan {
  color: $white;
  > div {
    width: 100%;
    @extend %text-center;
    position: absolute;
    display: block;
    font-weight: 600;
    top: 90%;
    @media (max-width: $mobile) {
      top: 55%;
    }
    > p {
      letter-spacing: 1px;
      font-size: 25px;
      font-style: italic;
      @media (max-width: $mobile) {
        font-size: 16px;
      }
    }
  }
}