.img-hover {
  > div {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
  a {
    position: absolute;
    display: block;
    bottom: -20px;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: $white;
    opacity: 0;
    background: $black-70;
    @include transition-property(all, 0.3s, ease-in-out);
  }
  div {
    :before {
      @media (min-width: $mobile) {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      @include skewX(-25deg);
      @include transition-property(all, 0.25s, ease-in);
      }
    }
    :hover:before {
      left: 125%;
    }
  }
}


.img-hover > div:hover a {
  bottom: 0px;
  opacity: 1;
  border: none;
}

@media (max-width: 1050px) {
  .influencers.btn-rounded {
    font-size: 13px;
    padding: 9px 0px;
  }
}
