<h2>APIs</h2>
<hr>
<div class="row bg-effect">
  <div class="col-md-12 box">
    <p><a href="https://github.com/" target="_blank">Github</a></p>
    <p><a href="https://bitbucket.org/" target="_blank">Bitbucket</a></p>
    <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
    <p><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></p>
    <p><a href="https://www.google.com" target="_blank">Google</a></p>
    <p><a href="http://www.amazon.com/" target="_blank">Amazon</a></p>
    <p><a href="https://www.yahoo.com/" target="_blank">Yahoo</a></p>
    <p><a href="http://www.ebay.com/" target="_blank">eBay</a></p>
    <p><a href="http://www.linnworks.com/" target="_blank">Linnworks</a></p>
    <p><a href="https://www.volocommerce.com/" target="_blank">Volo Commerce (formerly eSellerPro)</a></p>
    <p><a href="http://www.rac.co.uk/" target="_blank">RAC</a></p>
    <p><a href="http://www.parcelhub.co.uk/" target="_blank">Parcelhub</a></p>
    <p><a href="http://www.vehicledataservices.co.uk/services.php" target="_blank">VRM UK</a></p>
    <p><a href="http://www.sabretravelnetwork.com/home/" target="_blank">Sabre</a></p>
    <p><a href="https://www.paypal.com" target="_blank">Paypal</a></p>
    <p> and many more..</p>
  </div>
</div>
{{transiting-line}}
