<h2>APIs</h2>
<hr>
<ul>
  <li><a href="https://github.com/" target="_blank">Github</a></li>
  <li><a href="https://bitbucket.org/" target="_blank">Bitbucket</a></li>
  <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
  <li><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
  <li><a href="https://www.google.com" target="_blank">Google</a></li>
  <li><a href="http://www.amazon.com/" target="_blank">Amazon</a></li>
  <li><a href="https://www.yahoo.com/" target="_blank">Yahoo</a></li>
  <li><a href="http://www.ebay.com/" target="_blank">eBay</a></li>
  <li><a href="http://www.linnworks.com/" target="_blank">Linnworks</a></li>
  <li><a href="https://www.volocommerce.com/" target="_blank">Volo Commerce (formerly eSellerPro)</a></li>
  <li><a href="http://www.rac.co.uk/" target="_blank">RAC</a></li>
  <li><a href="http://www.parcelhub.co.uk/" target="_blank">Parcelhub</a></li>
  <li><a href="http://www.vehicledataservices.co.uk/services.php" target="_blank">VRM UK</a></li>
  <li><a href="http://www.sabretravelnetwork.com/home/" target="_blank">Sabre</a></li>
  <li><a href="https://www.paypal.com" target="_blank">Paypal</a></li>
  <li> and many more..</li>
</ul>