{{route-header title="CONTACTS" icon="envelope-o" imgName="contacts"}}
<div class="row bg-shark p50">
  <div class="col-md-8">
    <h3>For bussiness related topics, You can reach me via E-mail: <a href="mailto:ivaylo.ivanov.ipi@gmail.com" target="_blank">ivaylo.ivanov.ipi@gmail.com</a></h3>
    <h3>Recruiters can PM me on <a href="https://bg.linkedin.com/in/ivaylopetrovivanov" target="_blank">LinkedIn</a></h3>
  </div>
  <div class="col-md-4">
    {{next-route route="about.faqs" icon="question" title="FAQs"}}
  </div>
</div>