<h1>Contacts</h1>
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <p>For bussiness related topics, You can reach me via E-mail: <a href="mailto:ivaylo.ivanov.ipi@gmail.com" target="_blank">ivaylo.ivanov.ipi@gmail.com</a></p>
    <p>Recruiters can PM me on <a href="https://bg.linkedin.com/in/ivaylopetrovivanov" target="_blank">LinkedIn</a></p>
  </div>
</div>
{{transiting-line}}