<h2>Experience</h2>
<hr>
<div class="row">
  <div class="col-md-6 combined-box bg-effect">
    <h2>E-Motive</h2>
    <div class="row">
      <div class="col-md-12">
        <a href="http://e-motiveonline.com" target="_blank">E-Motive</a>
        <p><b>Software Developer</b></p>
        <p><small>November 2013 - Present</small></p>
      </div>
      <div class="col-md-12">
        E-Motive is an experienced e-commerce solution provider,
        specialised in helping brands to partner with online marketplaces.
        Depending on the case, I determine the roadmap, how to innovate,
        synchronizing departments and of course - developing, using the
        appropriate language(s) and technology.
        I have experience working on both very simple projects, as well as vast and comples ones, needing integration with
        Amazon, eBay, other 3rd party APIs, and syncs between more than
        one e-commerce platform at the same time.
      </div>
    </div>
  </div>
  <div class="col-md-6 combined-box bg-effect">
    <h2>IQ-Company</h2>
    <div class="row">
      <div class="col-md-12">
        <a href="http://www.iqcompany.ru" target="_blank">IQ-Company</a>
        <p><b>Web Developer</b></p>
        <p><small>August 2013 – September 2013 (2 months)</small></p>
      </div>
      <div class="col-md-12">
        As one of the best established Russian IT companies,
        IQ has many clients. I was responsible for maintaining old and
        delivering new products for our clients.
        Unfortunately, just after several weeks,
        I realized, that the company methods and technologies for
        delivering products are not helping me to develop myself.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 combined-box bg-effect">
    <h2>Freelancer</h2>
    <div class="row">
      <div class="col-md-12">
        <a href="https://www.freelancer.com" target="_blank">Freelancer</a>
        <p><b>Web Developer</b></p>
        <p><small>September 2012 – August 2013 (11 months)</small></p>
      </div>
      <div class="col-md-12">
        Working as a freelancer (I was a beginner at that time) with friends,
        resolving various issues as site migrating, database query errors,
        web optimisation, developing and customizing plugins for
        WordPress, OpenCart, Joomla, integrating paypal payment gateway, ssl,
        REST API optimisation and private live chat using Socket.io
      </div>
    </div>
  </div>
  <div class="col-md-6 combined-box bg-effect">
    <h2>TopChange</h2>
    <div class="row">
      <div class="col-md-12">
        <a href="http://4xchange.bg/?lang=en" target="_blank">TopChange</a>
        <p><b>Assistant Regional Manager</b></p>
        <p><small>April 2009 – August 2013 (4 years 5 months)</small></p>
      </div>
      <div class="col-md-12">
        Topchange is a company with many subsidiaries,
        including financial house Sofdealing Ltd.
        My main duties were to fix software bugs, update it, train staff,
        make financial transactions, money exchange, and work schedules.
      </div>
    </div>
  </div>
</div>
