{{route-header title="FAQS" icon="question" imgName="faqs"}}
<div class="row bg-shark p50">
  <div class="col-md-8">
  </div>
  {{next-route route="about.lastCommit" icon="code" title="Last Commit"}}
</div>