<h2>Experience <span class="markdown-body"> => {object[]}</span></h2>
<ul>
  <li>
    <h5><a href="http://e-motiveonline.com/" target="_blank">E-Motive</a></h5>
    <ul>
      <li><b>Software Developer</b></li>
      <li><small>November 2013 - Present</small></li>
      <li>
        <i>
          E-Motive is an experienced e-commerce solution provider,
          specialised in helping brands to partner with online marketplaces.
          Depending on the case, I determine the roadmap, how to innovate,
          synchronizing departments and of course - developing, using the
          appropriate language(s) and technology.
          I have experience working on very simple projects,
          but vast and complex as well, needing integration with
          Amazon, eBay, other 3rd party APIs, and syncs between more than
          one e-commerce platform at the same time.
        </i>
      </li>
    </ul>
  </li>
  <li>
    <h5><a href="http://www.iqcompany.ru/" target="_blank">IQ-Company</a></h5>
    <ul>
      <li><b>Web Developer</b></li>
      <li><small>August 2013 – September 2013 (2 months)</small></li>
      <li>
        <i>
          As one of the best established Russian IT companies,
          IQ has many clients. I was responsible for maintaining old and
          delivering new products for our clients.
          Unfortunately, just after several weeks,
          I realized that, the company methods and technologies for
          delivering products is not helping me, to develop myself.
        </i>
      </li>
    </ul>
  </li>
  <li>
    <h5><a href="https://www.freelancer.com" target="_blank">Freelancer</a></h5>
    <ul>
      <li><b>Web Developer</b></li>
      <li><small>September 2012 – July 2013 (11 months)</small></li>
      <li>
        <i>
          Working as a freelancer (I was a beginner at that time) with friends,
          resolving various issues as site migrating, database query errors,
          web optimisation, developing and customizing plugins for
          WordPress, OpenCart, Joomla, integrating paypal payment gateway, ssl,
          REST API optimisation and private live chat using Socket.io
        </i>
      </li>
    </ul>
  </li>
  <li>
    <h5><a href="http://4xchange.bg/?lang=en" target="_blank">TopChange</a></h5>
    <ul>
      <li><b>Assistant Regional Manager</b></li>
      <li><small>April 2008 – September 2012 (4 years 6 months)</small></li>
      <li>
        <i>
          Topchange is a company with many subsidiaries,
          including financial house Sofdealing Ltd.
          My main duties were to fix software bugs, update it, train staff,
          make financial transactions, money exchange and work schedules.
        </i>
      </li>
    </ul>
  </li>
</ul>