<h2>Hobbies and Interests <span class="markdown-body"> => {array}</span></h2>
<ul>
  <li>Programming, Programming and Programming.</li>
  <li>Programming while it's raining.</li>
  <li>Programming while it's snowing.</li>
  <li>
    When it's sunny, it's too bright and I need to stand up every half an hour to
   place the blind. Smart house to the rescue.
  </li>
  <li>
    Used to play a lot of games,
    now I prefer to play with some programming language.
  </li>
  <li>Nature, mountain in particular</li>
  <li>Football</li>
  <li>
    Reading books, watching movies. <br>
    Essential list:
    <ul>
      <li>
        <a href="http://www.amazon.com/Zen-Mind-Beginners-Shunryu-Suzuki/dp/1590308492" target="_blank">
          Zen Mind, Beginner's Mind
        </a>
      </li>
      <li>
        <a href="http://www.amazon.com/Expect-Nothing-A-Zen-Guide/dp/1582900728" target="_blank">
          Expect Nothing
        </a>
      </li>
      <li>
        <a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented-ebook/dp/B000SEIBB8" target="_blank">
          GoF Design Patterns
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt0133093/" target="_blank">
          The Matrix
        </a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Suits_(TV_series)" target="_blank">
          Suits
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt1789083/" target="_blank">
          The Weight of Chains
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt1355640/" target="_blank">
          The Shock Doctrine
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt1029172/" target="_blank">
          The War on Democracy
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt1337137/" target="_blank">
          South of the Border
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt2381335/" target="_blank">
          Fed Up
        </a>
      </li>
      <li>
        <a href="http://www.imdb.com/title/tt0284262/" target="_blank">
          Life and Debt
        </a>
      </li>
    </ul>
  </li>
  <li>Did I mention programming?</li>
</ul>
