<h2>Programming Languages <span class="markdown-body"> => {object[]}</span></h2>
<ul>
  <li>
    <h5>Full Professional:</h5>
    <ul>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
          Javascript
        </a> 
        (Node.js included)
      </li>
      <li>
        <a href="https://secure.php.net/" target="_blank">PHP</a>
      </li>
    </ul>
  </li>
  <li>
    <h5>Non-Professional:</h5>
    <ul>
      <li> <a href="https://www.java.com/en/" target="_blank">Java</a></li>
      <li> <a href="https://isocpp.org/" target="_blank">C++</a></li>
    </ul>
  </li>
  <li>
    <h5>Also Interested In:</h5>
    <ul>
      <li><a href="http://crystal-lang.org/" target="_blank">Crystal</a></li>
      <li><a href="https://www.haskell.org/" target="_blank">Haskell</a></li>
      <li><a href="https://golang.org/" target="_blank">Go</a></li>
    </ul>
  </li>
</ul>
<i>
  Note: Currently inlove with Javascript and C++,
  and what these two languages can accomplish together
</i>