<h2>Description <span class="markdown-body"> => {string}</span></h2>
<h4>TL;DR</h4>
<p>I won't set any level in front my job title. You may be the senior, if everyone around is a beginner, or you may be an absolute beginner, if you're around some of the smartest and most experienced people.</p>
<p>I believe, everything happens on purpose and when someone told me: "Oh, you're lucky to work as IT", I just answered: "I don't get lucky, I make my own luck". So, I don't have dreams, I have goals. And my main goal with every programming language is to find the best way, to solve the problem. Because it doesn't matter how many languages, tools, frameworks or libraries you do now, if you can't solve a single problem with them. And yes, you should always try to do it better</p>
<p>Too long? Oh, performance hit, I get it.. lets optimise it.</p>