<h2>Influencers <span class="markdown-body"> => {array}</span></h2>
<ul>
  <li>
    The one and only
    <a href="https://en.wikipedia.org/wiki/Jacque_Fresco" target="_blank">
      Jacque Fresco
    </a>
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/Bear_Grylls" target="_blank">
      Bear Grylls
    </a>
  </li>
  <li>
    <a href="http://suits.wikia.com/wiki/Harvey_Specter" target="_blank">
      Harvey Specter
    </a>
  </li>
</ul>
<i>
  Despite the fact, that they're in completely different areas, they are very
  strong mentally. Strong determination, consistency, integrity, loyalty,
  passion, ambition, dedication. This is what matters, skills are cheap.
</i>