<h2>Technologies, frameworks, libraries, storage 
  <span class="markdown-body"> => {object[]}</span>
</h2>
<ul>
  <li>
    <h5>Web Servers:</h5>
    <ul>
      <li><a href="http://nginx.org/" target="_blank">Nginx</a> </li>
      <li><a href="https://httpd.apache.org/" target="_blank">Apache</a> </li>
      <li><a href="http://tomcat.apache.org/" target="_blank">Tomcat</a> </li>
    </ul>
  </li>
  <li>
    <h5>Frameworks:</h5>
    <ul>
      <li>
        <a href="https://github.com/esrol/" target="_blank">Esrol.js</a>
          (most recently)
      </li>
      <li>
        <a href="http://emberjs.com/" target="_blank">Embers.js</a>
        (makes your life easier - even for simple site like this one)
      </li>
      <li>
        <a href="https://angular.io/" target="_blank">Angular.js</a>
        (I won't say, that I'm never going to use it in production,
        but for the moment, Ember is a better choise)
      </li>
      <li>
        <a href="http://backbonejs.org/" target="_blank">Backbone.js</a>
        (The funny thing is, there is people out there, how thinks,
        backbone is handy for something)
      </li>
      <li>
        <a href="http://expressjs.com/" target="_blank">Express.js</a>
      </li>
      <li>
        <a href="https://symfony.com/" target="_blank">Symfony PHP</a>
      </li>
      <li>
        <a href="http://cakephp.org/" target="_blank">Cake PHP</a>
      </li>
      <li>
        <a href="https://www.codeigniter.com/" target="_blank">Codeigniter PHP</a>
        (dark ages)
      </li>
      <li>
        Both <a href="http://electron.atom.io/" target="_blank">Electron.js</a>
        and <a href="https://www.qt.io/" target="_blank">QT</a>
        for desktop app (mainly unity)
      </li>
      <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
    </ul>
  </li>
  <li>
    <h5>Libraries:</h5>
    <ul>
      <li>PHP:
        <a href="https://github.com/Respect/Validation" target="_blank">
          Validation
        </a>
        <a href="http://chriso.github.io/klein.php/" target="_blank">Klein</a>
        <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a>
      </li>
      <li>Javascript:
        Not limited to
        <a href="https://www.npmjs.com/browse/star" target="_blank">
         this
        </a>
      </li>
   </ul>
    <i>Note: the list is just too long</i>
  </li>
  <li>
    <h5>Storages:</h5>
    <ul>
      <li><a href="http://redis.io/" target="_blank">Redis</a></li>
      <li><a href="https://www.mongodb.org/" target="_blank">MongoDB</a></li>
      <li><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
      <li>
        <a href="http://www.transaction.de/en/products/transbase.html" target="_blank">
          Transbase
        </a>
      </li>
      <li><a href="http://lucene.apache.org/solr/" target="_blank">Solr</a></li>
    </ul>
  </li>
  <li>
    <h5>Tools:</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monitor</td>
          <td><a href="http://nodemon.io/" target="_blank">Nodemon</a></td>
        </tr>
        <tr>
          <td>Monitor</td>
          <td>
            <a href="https://github.com/petruisfan/node-supervisor" target="_blank">
              Supervisor
            </a>
          </td>
        </tr>
        <tr>
          <td>Build</td>
          <td><a href="http://gruntjs.com/" target="_blank">Grunt</a></td>
        </tr>
        <tr>
          <td>Scaffolding</td>
          <td><a href="http://yeoman.io/" target="_blank">Yeoman</a></td>
        </tr>
        <tr>
          <td>Code Quality Tool</td>
          <td><a href="http://jshint.com/" target="_blank">Jshint</a></td>
        </tr>
        <tr>
          <td>Code Quality Tool</td>
          <td><a href="http://eslint.org/" target="_blank">Eslint</a></td>
        </tr>
        <tr>
          <td>ES6 and ES7 compiler</td>
          <td><a href="https://babeljs.io/" target="_blank">Babel</a></td>
        </tr>
        <tr>
          <td>Inspector</td>
          <td>
            <a href="https://github.com/node-inspector/node-inspector" target="_blank">
              Node-inspector
            </a>
          </td>
        </tr>
        <tr>
          <td>Tests</td>
          <td><a href="https://phpunit.de/" target="_blank">PHPUnit</a></td>
        </tr>
        <tr>
          <td>Tests</td>
          <td><a href="http://phantomjs.org/" target="_blank">PhantomJS</a></td>
        </tr>
        <tr>
          <td>Tests</td>
          <td><a href="https://mochajs.org/" target="_blank">Mocha</a></td>
        </tr>
        <tr>
          <td>Test Coverage</td>
          <td>
            <a href="https://gotwarlost.github.io/istanbul/" target="_blank">
              Istanbul
            </a>
          </td>
        </tr>
        <tr>
          <td>Tests and Deploy</td>
          <td><a href="https://travis-ci.org/" target="_blank">Travis CI</a></td>
        </tr>
        <tr>
          <td>Tests and Deploy</td>
          <td><a href="https://coveralls.io/" target="_blank">Coveralls</a></td>
        </tr>
        <tr>
          <td>Documentation Generator</td>
          <td><a href="http://usejsdoc.org/" target="_blank">JSDoc</a></td>
        </tr>
        <tr>
          <td>Documentation Generator</td>
          <td><a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a></td>
        </tr>
        <tr>
          <td>Version Control System</td>
          <td><a href="https://git-scm.com/" target="_blank">Git</a></td>
        </tr>
        <tr>
          <td>Package Manager</td>
          <td><a href="https://www.npmjs.com/" target="_blank">NPM</a></td>
        </tr>
        <tr>
          <td>Package Manager</td>
          <td><a href="http://bower.io/" target="_blank">Bower</a></td>
        </tr>
        <tr>
          <td>Package Manager</td>
          <td><a href="https://getcomposer.org/" target="_blank">Composer</a></td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <h5>Text Editor and IDE:</h5>
    <ul>
      <li><a href="http://www.sublimetext.com/" target="_blank">Sublime</a></li>
      <li><a href="https://netbeans.org/" target="_blank">NetBeans</a></li>
      <li><a href="http://www.codeblocks.org/" target="_blank">CodeBlocks</a></li>
    </ul>
  </li>
  <li>
    <h5>OS:</h5>
    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Microsoft_Windows" target="_blank">
          Win
        </a>
      </li>
      <li><a href="https://bg.wikipedia.org/wiki/Unix" target="_blank">Unix</a></li>
    </ul>
  </li>
</ul>
<i>
  Note: Ideally, I use Ember for front-end, Esrol for back-end,
  C++ addons for hot spots, Ember doesn't have breaking changes
  every two months, Github repos have working examples,
  Internet Explorer release cycle is the same as Chrome, and Leonardo wins an Oscar.
</i>