{{route-header title="LOVE TO DO" icon="heart" imgName="hobbies"}}
<div class="mt50">
  {{section-title removeMargin=true title="In Free Time" icon="fa fa-child"}}
</div>
<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="fa fa-code"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Programming, Programming and Programming.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-space-shuttle"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Science Fiction</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="fa fa-balance-scale"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Law</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-object-group"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Smart Houses</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="fa fa-gamepad"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Used to play a lot of video games, now I prefer to play with some programming language.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-paw"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Nature, mountain in particular</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="fa fa-futbol-o"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Football Volleyball Snowboarding</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge"><i class="fa fa-music"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Music 24/7</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="fa fa-beer"></i></div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Beer with friends</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row p50 bg-shark">
  <div class="col-md-4 col-md-offset-4">
    {{next-route route="about.contacts" icon="envelope-o" title="Contacts"}}
  </div>
</div>