<h2>Hobbies and Interests</h2>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="hexagon">
      Programming, Programming and Programming.
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Programming while it's raining.
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Programming while it's snowing.
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      When it's sunny, it's too bright and I need to stand up every half an hour to place the blind. Smart house to the rescue.
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="hexagon">
      Science Fiction
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Law
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Psichology
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Smart Houses
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="hexagon">
      Used to play a lot of video games, now I prefer to play with some programming language.
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Nature, mountain in particular
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Football<br>
      Volleyball<br>
      Snowboarding
    </div>
  </div>
  <div class="col-md-3">
    <div class="hexagon">
      Music 24/7
    </div>
  </div>
</div>
