<div class="col-md-12">
  <blockquote><p>"If you think we can’t change the world, It just means you're not one of those that will."</p><p><small>Jacque Fresco</small></p></blockquote>
</div>
<div class="col-md-12">
  <blockquote><p>"In today's world, where everything is accessible through internet, to be uneducated is a choice."</p><p><small>Ivaylo Ivanov</small></p></blockquote>
</div>
