<div class="row slogan bg-shark">
  <div class="col-md-12">
    <p>{{animate-text delay="+=0.5" text="I don't have dreams, I have goals. That's why I don't get lucky. I make my own luck."}}</p>
  </div>
</div>
<div class="row block-quote bg-grey">
  <div class="row">
    <div class="col-md-8">
      {{block-quote delay="+=1.1" quote="If you think we can’t change the world, It just means you're not one of those that will." from="Jacque Fresco"}}
      {{block-quote delay="+=1.5" quote="In today's world, when everything is accessible through the internet, to be uneducated is a choice." from="Ivaylo Ivanov"}}
    </div>
    {{next-route route="about.education" title="Education"}}
  </div>
</div>
