<h2>Influencers</h2>
<hr>
<div class="row bg-effect text-center">
  <h3>People</h3>
  <div class="col-md-4 box">
    <p><a href="https://en.wikipedia.org/wiki/Jacque_Fresco" target="_blank">
      Jacque Fresco
    </a></p>
  </div>
  <div class="col-md-4 box">
    <p><a href="https://en.wikipedia.org/wiki/Bear_Grylls" target="_blank">
      Bear Grylls
    </a></p>
  </div>
  <div class="col-md-4 box">
    <p><a href="http://suits.wikia.com/wiki/Harvey_Specter" target="_blank">
      Harvey Specter
    </a></p>
  </div>
  <div class="col-md-12 p50">
    <i>
      At first sight, they are completely different people, but the
      strong mentality is something that they all have. Strong determination, consistency, integrity, loyalty,
      passion, ambition, and dedication. This is what matters, skills are cheap.
    </i>
  </div>
</div>
<hr>
<div class="row bg-effect text-center">
  <h3>Books</h3>
  <div class="col-md-3 box">
    <p><a href="http://www.amazon.com/Expect-Nothing-A-Zen-Guide/dp/1582900728" target="_blank"> Expect Nothing </a></p>
  </div>
  <div class="col-md-3 box">
    <p><a href="http://www.amazon.com/Under-Yoke-Ivan-Vazov/dp/1784351075" target="_blank"> Under The Yoke </a></p>
  </div>
  <div class="col-md-3 box">
    <p> <a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented-ebook/dp/B000SEIBB8" target="_blank">GoF Design Patterns</a></p>
  </div>
  <div class="col-md-3 box">
    <p><a href="http://www.amazon.com/Head-First-Design-Patterns-Freeman/dp/0596007124" target="_blank">Head First Design Patterns</a></p>
  </div>
</div>
<hr>
<div class="row bg-effect text-center">
  <h3>Movies</h3>
  <div class="col-md-12 box">
    <p><a href="http://www.imdb.com/title/tt0284262/" target="_blank"> Life  and Debt </a></p>
    <p><a href="http://www.imdb.com/title/tt1029172/" target="_blank"> The War on Democracy </a></p>
    <p><a href="http://www.imdb.com/title/tt1337137/" target="_blank"> South of the Border </a></p>
    <p><a href="http://www.imdb.com/title/tt2381335/" target="_blank">Fed Up</a></p>
    <p><a href="http://www.imdb.com/title/tt1355640/" target="_blank"> The Shock Doctrine </a></p>
    <p><a href="http://www.imdb.com/title/tt1789083/" target="_blank"> The Weight of Chains </a></p>
    <p><a href="http://www.imdb.com/title/tt1632701/" target="_blank"> Suits </a></p>
    <p> <a href="http://www.imdb.com/title/tt0133093/" target="_blank"> The Matrix </a></p>
  </div>
</div>
