{{route-header title="INFLUENCERS" icon="lightbulb-o" imgName="influencers"}}
<div class="row bg-shark p50">
  <div class="col-md-8">
  </div>
  {{next-route route="about.hobbies" icon="heart" title="Hobbies"}}
</div>