{{route-header title="INFLUENCERS" icon="lightbulb-o" imgName="influencers"}}
{{section-title title="People" icon="fa fa-users"}}
<div class="row bg-shark p50 ">
  <div class="row">
    <div class="img-hover column">
      <div class="col-md-4">
        <div><img src="images/influencers/fresco.jpg"/></div>
        <a href="https://en.wikipedia.org/wiki/Jacque_Fresco" target="_blank">Jacque Fresco</a>
      </div>
      <div class="col-md-4">
        <div><img src="images/influencers/specter.jpg"/></div>
        <a href="https://en.wikipedia.org/wiki/Bear_Grylls" target="_blank">Harvey Specter</a>
      </div>
      <div class="col-md-4">
        <div><img src="images/influencers/grylls.jpg"/></div>
        <a href="http://suits.wikia.com/wiki/Harvey_Specter" target="_blank">Bear Grylls</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p50 text-center">
      <i><b>At first sight, they are completely different people, but the strong mentality is something that they all have. Strong determination, consistency, integrity, loyalty, passion, ambition, and dedication. This is what matters, skills are easy to find.</b></i>
    </div>
  </div>
</div>
{{section-title title="Books and Movies" icon="fa fa-star"}}
<div class="row bg-shark p50">
  <div class="col-md-8 text-center">
    <div class="row mt25">
      <div class="col-md-6 influencers btn-rounded">
        <p><a href="http://www.amazon.com/Expect-Nothing-A-Zen-Guide/dp/1582900728" target="_blank"> Expect Nothing </a></p>
        <p><a href="http://www.amazon.com/Under-Yoke-Ivan-Vazov/dp/1784351075" target="_blank"> Under The Yoke </a></p>
        <p> <a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented-ebook/dp/B000SEIBB8" target="_blank">GoF Design Patterns</a></p>
        <p><a href="http://www.amazon.com/Head-First-Design-Patterns-Freeman/dp/0596007124" target="_blank">Head First Design Patterns</a></p>
        <p><a href="http://www.imdb.com/title/tt0284262/" target="_blank"> Life  and Debt </a></p>
        <p><a href="http://www.imdb.com/title/tt1029172/" target="_blank"> The War on Democracy </a></p>
      </div>
      <div class="col-md-6 influencers btn-rounded">
        <p><a href="http://www.imdb.com/title/tt1337137/" target="_blank"> South of the Border </a></p>
        <p><a href="http://www.imdb.com/title/tt2381335/" target="_blank">Fed Up</a></p>
        <p><a href="http://www.imdb.com/title/tt1355640/" target="_blank"> The Shock Doctrine </a></p>
        <p><a href="http://www.imdb.com/title/tt1789083/" target="_blank"> The Weight of Chains </a></p>
        <p><a href="http://www.imdb.com/title/tt1632701/" target="_blank"> Suits </a></p>
        <p> <a href="http://www.imdb.com/title/tt0133093/" target="_blank"> The Matrix </a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt100">
    {{next-route route="about.hobbies" icon="heart" title="Hobbies"}}
  </div>
</div>