{{route-header title="LANGUAGES" icon="language" imgName="languages"}}
{{section-title title="Natural" icon="fa fa-comments"}}
<div class="row bg-shark p50 scale text-center">
  <div class="col-md-3">
    <h3>Bulgarian</h3>
    <p>Native</p>
  </div>
  <div class="col-md-3">
    <h3>English</h3>
    <p>Working level</p>
  </div>
  <div class="col-md-3">
    <h3>French</h3>
    <p>From High School</p>
  </div>
  <div class="col-md-3">
    <h3>Russian</h3>
    <p>Working level</p>
  </div>
</div>
{{section-title title="Programming" icon="fa fa-code"}}
<div class="row bg-shark p50">
  <div class="col-md-8">
  </div>
  {{next-route route="about.experience" icon="briefcase" title="Experience"}}
</div>