<h2>Natural Languages</h2>
<hr>
<div class="row bg-effect">
  <div class="col-md-3 box">
    <h3>Bulgarian</h3>
    <i>Native</i>
  </div>
  <div class="col-md-3 box">
    <h3>English</h3>
    <i>Working level</i>
  </div>
  <div class="col-md-3 box">
    <h3>French</h3>
    <i>Used to be "full professional"</i>
  </div>
  <div class="col-md-3 box">
    <h3>Russian</h3>
    <i>Working level</i>
  </div>
</div>
{{transiting-line}}
<h2>Programming Languages</h2>
<hr>
<div class="row bg-effect">
  <div class="col-md-4 box">
    <h3>Full Professional</h3>
    <p>
      <a href="https://secure.php.net/" target="_blank">PHP</a>
    </p>
    <p>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
        Javascript + Node
      </a>
    </p>
  </div>
  <div class="col-md-4 box">
    <h3>Non-Professional</h3>
    <p> <a href="https://www.java.com/en/" target="_blank">Java</a></p>
    <p> <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">C</a></p>
    <p> <a href="https://isocpp.org/" target="_blank">C++</a></p>
  </div>
  <div class="col-md-4 box">
    <h3>Also Interested In</h3>
    <p><a href="http://crystal-lang.org/" target="_blank">Crystal</a></p>
    <p><a href="https://www.haskell.org/" target="_blank">Haskell</a></p>
    <p><a href="https://golang.org/" target="_blank">Go</a></p>
  </div>
</div>
{{transiting-line}}