{{route-header title="LAST COMMIT" icon="code" imgName="last-commit"}}
<div class="row bg-shark p50">
  <div class="col-md-8">
  </div>
  {{next-route route="about.index" icon="home" title="Home Page"}}
</div>