<h2>Natural Languages</h2>
<hr>
<div class="row bg-effect">
  <div class="col-md-3 box">
    <h3>Bulgarian</h3>
    <i>Native</i>
  </div>
  <div class="col-md-3 box">
    <h3>English</h3>
    <i>Working level</i>
  </div>
  <div class="col-md-3 box">
    <h3>French</h3>
    <i>Used to be "full professional"</i>
  </div>
  <div class="col-md-3 box">
    <h3>Russian</h3>
    <i>Working level</i>
  </div>
</div>
{{transiting-line}}
