{{route-header title="PORTFOLIO" icon="archive" imgName="portfolio"}}
<div class="row bg-shark p50">
  <div class="col-md-8">
  </div>
</div>
<div class="row">
  <div class="col-md-12 p50 bg-shark text-center">
    <div class="row">
      <div class="col-md-8">
        {{block-quote delay="+=1.1" quote="To be successful, the first thing to do is fall in love with your work." from="Sister Mary Lauretta"}}
        {{block-quote delay="+=1.4" quote="Choose a job you love, and you will never have to work a day in your life." from="Confucius"}}
      </div>
      <div class="col-md-4">
        {{next-route route="about.technologies" icon="rocket" title="Technologies"}}
      </div>
    </div>
  </div>
</div>