<h1>Services</h1>
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <p> I am able to offer a big diversity, from creating simple web apps, complex e-commerce solutions, and embedded applications, to implementing complex <a href="https://en.wikipedia.org/wiki/Service-oriented_architecture">SOA</a>. In my short career as a developer, I've never worked on an "impossible project". When I don't know something, I sit down, learn it, do it. If You want me to send You to Mars, I'll probably fail, but I'll die trying.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#link-to "about.contacts"}}<button class="btn contact-btn">Contact me</button>{{/link-to}}
    </div>
  </div>
</div>
{{transiting-line}}
