$light-grey: rgb(238, 238, 238);
$light-dark-grey: #444;
$light-grey-hover: #e9ebec;
$dark-blue: #011529;
$gold: rgb(180, 157, 96);
$midnight-blue: #003366;
$dedede: #dedede;
$white: #fff;
$light-white-50: rgba(234,234,234,0.5);
$black: #000;
$black-20: rgba(0,0,0,0.2);
$light-grey-80: rgba(106, 107, 107, 0.8);
$darker-blue: rgb(3, 14, 27);
$custom-grey: #53616A;