<div class="app-container fill">
  <div class="row">
    <div class="col-md-12">
      <h1>Class About</h1>
    </div>
    <div class="col-md-3">
      <h3>Public API</h3>
      <ul>
        <li>{{#link-to 'about.getDescription'}}getDescription{{/link-to}}</li>
        <li>{{#link-to 'about.getExperience'}}getExperience{{/link-to}}</li>
        <li>{{#link-to 'about.getProgrammingLanguages'}}getProgrammingLanguages{{/link-to}}</li>
        <li>{{#link-to 'about.getNaturalLanguages'}}getNaturalLanguages{{/link-to}}</li>
        <li>{{#link-to 'about.getApisWorkedWith'}}getAPIsWorkedWith{{/link-to}}</li>
        <li>{{#link-to 'about.getTechnologies'}}getTechnologies{{/link-to}}</li>
        <li>{{#link-to 'about.getInfluencers'}}getInfluencers{{/link-to}}</li>
        <li>{{#link-to 'about.getHobbies'}}getHobbies{{/link-to}}</li>
        <li>{{#link-to 'about.getLastCommit'}}getLastCommit{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-9 description">
      {{liquid-outlet}}
    </div>
  </div>
</div>

