<div class="app-container fill">
  <div class="row">
    <div class="col-md-3">
      {{left-column}}
    </div>
    <div class="col-md-9 description">
      {{liquid-outlet}}
    </div>
  </div>
</div>

